<div class="container">
    <div>
    </div>
        <div class="mt-5">
            <h2><%= @event.title %> <small> à <%=@event.location%></small></h2>
        </div>
        <div class="card-body py-2 row">
            <div class="card-title col-sm-8">
                <h4>le <%= @event.start_date.strftime("%d/%m/%y") %> </h4>
                <h6> Début : <%= @event.start_date.strftime("%H:%M") %> <br>
                Fin : <%=@event.end_date.strftime("%H:%M")%></h6>
                <br>
                <h5><%= @event.description%></h5>
                <br>
                <p>Prix/pers.: <%=@event.price%> € </p>
                <br>
                <p><%=@event.attendances.count%> personne(s) inscrites</p>
                <br>
                <p>Contact: <%=@event.admin.email%></p>

            </div>
        </div>
    </div>
</div>
