<div class="container">
    <div>
    </div>
        <div class="mt-5">
            <h2><%= @event.title %> <small> à <%=@event.location%></small></h2>
        </div>
        <div class="card-body py-2 row">
            <div class="card-title col-sm-8">
                <h4>le <%= @event.start_date.strftime("%d/%m/%y") %> </h4>
                <h6> Début : <%= @event.start_date.strftime("%H:%M") %> <br>
                Fin : <%=@event.end_date.strftime("%H:%M")%></h6>
                <br>
                <h5><%= @event.description%></h5>
                <br>
                <p>Prix/pers.: <%=@event.price%> € </p>
                <br>
                <p><%=@event.attendances.count%> personne(s) inscrites</p>
                <br>
                <p>Contact: <%=@event.admin.email%></p>
            </div>
        </div>
        <% if !organise?(@event) && attending?(@event) %>
            <p> Déjà inscrit(e) </p>
        <% elsif !organise?(@event) && user_signed_in?%> 
            <%= link_to "Rejoindre l'évènement", new_event_attendance_path(event_id: @event.id), class:"btn btn-dark" %></h4>
        <% elsif organise?(@event)%>
            <%= link_to "Voir détail", event_attendances_path(event_id: @event.id), class:"btn btn-dark" %></h4>
        <% end %>
    </div>
</div>
